* {
  box-sizing: border-box;
  border: 0;
  background: none;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* outline: red solid 1px; */
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:focus {
  outline: 2px solid blue;
  outline-offset: 2px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg,
img {
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

:root {
  --clr-primary-orange: hsl(35, 77%, 62%);
  --clr-primary-red: hsl(5, 85%, 63%);

  --clr-neutral-white: hsl(36, 100%, 99%);
  --clr-neutral-blue-100: hsl(233, 8%, 79%);
  --clr-neutral-blue-400: hsl(236, 13%, 42%);
  --clr-neutral-blue-900: hsl(240, 100%, 5%);

  --fs-regular: 15px;

  --ff-base: "Inter", sans-serif;

  --padding: 2rem;
  --spacing: 1.5rem;
}

body {
  background-color: var(--clr-neutral-white);
  display: grid;
  font-size: var(--fs-regular);
  font-family: var(--ff-base);
  padding: 1rem;
  place-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  z-index: 5;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.menu-list {
  display: none;
  list-style: none;
  gap: 2rem;
}

.menu-list li {
  cursor: pointer;
}

.menu-list li:hover {
  color: var(--clr-primary-orange);
}

.nav-menu__modal {
  position: fixed;
  z-index: 10;
  height: 100vh;
  min-width: 65%;
  right: 0;
  top: 0;
  background-color: var(--clr-neutral-white);
  transform: translateX(100%);
  transition: transform 0.4s ease-out;
}

.nav-menu__modal.show {
  transform: translateX(0); /* Slide in from the right */
}

.nav-menu__modal li {
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.nav-menu__modal li:hover {
  color: var(--clr-primary-orange);
}
.nav-menu__modal__list {
  margin-top: 50%;
}

.burger-menu__close img {
  min-width: 35px;
  object-fit: contain;
  cursor: pointer;
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 1rem;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  max-height: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
}
.navigation .logo {
  width: 50px;
  object-fit: contain;
}

.navigation .menu-toggle {
  background: none;
  border: none;
  object-fit: contain;
  cursor: pointer;
}

picture > img {
  width: 100%;
  margin-bottom: 2rem;
}

.main-flex h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.main-flex p {
  margin-bottom: 1rem;
}

.main-flex button {
  border: none;
  background-color: var(--clr-primary-red);
  color: var(--clr-neutral-white);
  font-weight: bold;
  padding: 1rem 2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 5rem;
  cursor: pointer;
}

.main-flex button:hover {
  background-color: var(--clr-neutral-blue-900);
}

.article-section {
  display: grid;
  gap: 2rem;
  padding: 1.5rem;
  min-width: 300px;
  background-color: var(--clr-neutral-blue-900);
  color: var(--clr-neutral-white);
  margin-bottom: 4rem;
}

.article-section h2 {
  font-size: 2rem;
  color: var(--clr-primary-orange);
  font-weight: bold;
}

.article-section h3 {
  font-size: 1.375rem;
  color: var(--clr-neutral-white);
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: pointer;
}
.article-section h3:hover {
  color: var(--clr-primary-orange);
}

.article-section p {
  color: var(--clr-neutral-blue-100);
  opacity: 80%;
  line-height: 1.7;
}

.article-section hr {
  margin-top: 2rem;
  border-top: 1px;
  opacity: 70%;
}

.grid-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.section-item,
.section-item,
.section-item {
  display: flex;
  gap: 1rem;
}

.section-item img,
.section-item img,
.section-item img {
  width: auto;
  max-width: 100px;
  object-fit: cover;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-content h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-neutral-blue-100);
}
.section-content h4 {
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}
.section-content h4:hover {
  color: var(--clr-primary-orange);
}
.section-content p {
  color: var(--clr-neutral-blue-400);
  max-width: 600px;
}

@media screen and (min-width: 1000px) {
  body {
    padding: 2rem;
  }

  .navigation {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .menu-list {
    display: flex;
    gap: 2rem;
    color: var(--clr-neutral-blue-400);
  }

  .menu-list p:hover {
    color: var(--clr-primary-orange);
  }

  .burger-menu__open {
    display: none;
  }

  .overlay {
    display: none;
  }

  .grid-template {
    display: grid;
    place-content: center;
    width: min(100%, 200rem);
    margin: auto;
    grid-template-columns: 2fr 1fr;
    max-width: 1200px;
    gap: 2rem;
  }

  .main-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .main-flex h1 {
    max-width: 300px;
  }

  .main-flex p {
    max-width: 350px;
  }

  .article-section {
    width: 100%;
    grid-column: 2;
    margin-bottom: 0;
  }

  .grid-section {
    display: flex;
    grid-column: 1 / span 2;
  }

  .article-section,
  .image-section {
    margin-bottom: 2rem;
  }

  .grid-section img {
    height: 120px;
  }
  .section-item,
  .section-item,
  .section-item {
    display: flex;
    align-items: center;
    justify-items: space-between;
    gap: 2rem;
  }
}
